.CameraView {
  display: flex;
  justify-content: center;
  position: relative;

  :global {
    .ant-spin {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
    }
  }
}
